body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  color: white;
}
#specimen {
  grid-template-columns: repeat(5, 15vw);
  grid-template-rows: repeat(2, 20vw);
  display: grid;
  grid-column-gap: 2vw;
  padding: calc(50vh - 20vw) 8.5vw;
  background: rgba(0,0,0,0.1);
}
#year {
  display: grid;
  grid-template-columns: repeat(4, 21vw);
  grid-template-rows: repeat(1, 28vw);
  margin: calc(50vh - 14vw) 8vw;
}
#math {
  display: grid;
  grid-template-columns: repeat(4, 15vw);
  grid-template-rows: repeat(2, 20vw);
  padding: calc(50vh - 10vw) 20vw;
  background: #000;
  grid-template-areas:
    '. n1 action n2'
    'equal . . .'
    '. . . .';
}
#math .n1 {
  grid-area: n1;
}
#math .n2 {
  grid-area: n2;
}
#math .action {
  grid-area: action;
}
#math .equal {
  grid-area: equal;
}
#math .result {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 2;
}

#time {
  background: rgba(0,0,0,.2);;
  display: grid;
  grid-template-columns: repeat(8, 9vw);
  grid-template-rows: repeat(1, 12vw);
  padding: calc(50vh - 6vw) 14vw;
}
  #time > div {
    -webkit-transform: scale(1.2);
  }

.countdown {
  display: grid;
  grid-template-columns: repeat(1, 60vw);
  grid-template-rows: repeat(1, 80vw);
  padding: 4vw 20vw;
}
#countup-dark,
#countdown-light {
  background: #fff;
}
#countdown-dark,
#countup-light {
  background: #000;
}


#footer,
#project-title,
#more-project {
	display: none !important;
}

@media only screen and (max-width: 720px) {
  #year {
    display: grid;
    grid-template-columns: repeat(4, 21vw);
    grid-template-rows: repeat(1, 28vw);
    margin: 24vw 8vw;
  }
  #math {
    padding: 14vw 20vw;
  }
  #time {
    padding: 30vw 20vw;
  }
  #specimen {
    padding: 20vw 8.5vw;
  }
}
