body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.letters {
  height: auto;
}
.column-2 {
  grid-template-columns: repeat(2, 26vw);
  grid-template-rows: repeat(1, 52vw);
  grid-gap: 6vw;
  padding: calc(50vh - 26vw) 21vw;
  display: grid;
}
.column-3 {
  grid-template-columns: repeat(3, 24vw);
  grid-template-rows: repeat(1, 48vw);
  grid-gap: 4vw;
  padding: calc(50vh - 24vw) 10vw;
  display: grid;
}
.column-4 {
  grid-template-columns: repeat(4, 20vw);
  grid-template-rows: repeat(1, 40vw);
  grid-gap: 4vw;
  padding: calc(50vh - 20vw) 4vw;
  display: grid;
}
.column-5 {
  grid-template-columns: repeat(5, 16vw);
  grid-template-rows: repeat(1, 32vw);
  grid-gap: 2vw;
  padding: calc(50vh - 16vw) 6vw;
  display: grid;
}
#specimen {
  grid-template-columns: repeat(10, 8vw);
  grid-template-rows: repeat(3, 16vw);
  grid-gap: 1vw;
  padding: 10vw 5.5vw;
  display: grid;
}

#alphabet .glyph {
  grid-column-start: 2;
}

.empty {
  width: 0;
  height: 0;
  border: none !important;
  background: none !important;
}
.glyph {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  display: grid;
  grid-gap: 4px;
}

[gap="8px"] .glyph {
  grid-gap: 8px;
}
[gap="12px"] .glyph {
  grid-gap: 12px;
}

.glyph > div {
  transition: .4s all;
  transform-origin: 50% 50%;
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[theme="light"] {
  background: #000;
}
[theme="light"] .glyph > div {
  background: #fff;
}

.border .glyph > div {
  border: 4px solid #000;
  background: none;
}
.border[theme="light"] .glyph > div {
  border: 4px solid #fff;
}

.glyph-I > div:nth-child(2n) {
  -webkit-transform: translate3d( calc(-50% - 2px),0,0);
}
.glyph-I > div:nth-child(2n+1) {
  -webkit-transform: translate3d( calc(50% + 2px),0,0);
}
[gap="8px"] .glyph-I > div:nth-child(2n) {
  -webkit-transform: translate3d( calc(-50% - 4px),0,0);
}
[gap="8px"] .glyph-I > div:nth-child(2n+1) {
  -webkit-transform: translate3d( calc(50% + 4px),0,0);
}
[gap="12px"] .glyph-I > div:nth-child(2n) {
  -webkit-transform: translate3d( calc(-50% - 6px),0,0);
}
[gap="12px"] .glyph-I > div:nth-child(2n+1) {
  -webkit-transform: translate3d( calc(50% + 6px),0,0);
}

.glyph-T > div:nth-child(8n+3),
.glyph-T > div:nth-child(8n+5),
.glyph-T > div:nth-child(8n+7) {
  -webkit-transform: translate3d( calc(50% + 2px),0,0);
}
[gap="8px"] .glyph-T > div:nth-child(8n+3),
[gap="8px"] .glyph-T > div:nth-child(8n+5),
[gap="8px"] .glyph-T > div:nth-child(8n+7) {
  -webkit-transform: translate3d( calc(50% + 4px),0,0);
}
[gap="12px"] .glyph-T > div:nth-child(8n+3),
[gap="12px"] .glyph-T > div:nth-child(8n+5),
[gap="12px"] .glyph-T > div:nth-child(8n+7) {
  -webkit-transform: translate3d( calc(50% + 6px),0,0);
}

.glyph-T > div:nth-child(8n+8),
.glyph-T > div:nth-child(8n+4),
.glyph-T > div:nth-child(8n+6) {
  -webkit-transform: translate3d( calc(-50% - 2px),0,0);
}
[gap="8px"] .glyph-T > div:nth-child(8n+8),
[gap="8px"] .glyph-T > div:nth-child(8n+4),
[gap="8px"] .glyph-T > div:nth-child(8n+6) {
  -webkit-transform: translate3d( calc(-50% - 4px),0,0);
}
[gap="12px"] .glyph-T > div:nth-child(8n+8),
[gap="12px"] .glyph-T > div:nth-child(8n+4),
[gap="12px"] .glyph-T > div:nth-child(8n+6) {
  -webkit-transform: translate3d( calc(-50% - 6px),0,0);
}

@media only screen and (max-width: 600px) {
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  #specimen {
    padding-top: 40vw;
    padding-bottom: 40vw;
  }
}
