:root {
  --border-style: 1px solid rgba(0,0,0,0.1);
  --transition-curve: cubic-bezier(0.4, 0.0, 0.2, 1);

  --margin: 40px;

  --size-large: 1280px;
  --size-medium: 880px;
  --size-small: 640px;

  --black-700: #444;
  --black-800: #222;

  --color-orange: #FF6F59;

  --margin-footer: 40px 0 20px 0;
  --margin-paragraph: 20px;

  --font-size: 20px;
  --line-height: 34px;

  --aniamte-up-distance: 20px;
  --max-width: 1160px;
}

@font-face {
  font-family: "Lineto Akkuratmono Regular";
  src: url("../fonts/akkuratmono/lineto-akkuratmono-regular.eot");
  src: url("../fonts/akkuratmono/lineto-akkuratmono-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akkuratmono/lineto-akkuratmono-regular.woff2") format("woff2"),
    url("../fonts/akkuratmono/lineto-akkuratmono-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lineto Akkuratmono Regular', monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: -0.02em;
  color: var(--black-700);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF;
}

* { box-sizing: border-box; }

a {
	text-decoration: underline;
  cursor: pointer;
  color: var(--black-700);
}

a:hover {
  text-decoration-color: var(--color-orange);
  color: var(--color-orange);
}

.h1,
h1 {
  margin: 0;
  font-size: 2em;
  line-height: 1.4em;
}
.h2 {
  font-size: 1.6em;
  line-height: 1.48em;
}
.h3 {
  font-size: 1.54em;
  line-height: 1.6em;
}
.h4 {
  font-size: 1.2em;
  line-height: 1.6em;
}
.flex {
  flex: 1;
}

#link-store {
  position: fixed;
  right: 0;
  top: 0;
  background: #222;
  padding: 4px 10px;
  text-decoration: none;
  color: white;
  /* margin: 8px; */
  z-index: 10000;
}


#nav-links {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#nav-links a {
  text-decoration: none;
  /* margin-left: 16px; */
  /* text-transform: uppercase; */
}

#project-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
}

.animate-up {
  transform: translate3d(0,var(--aniamte-up-distance),0);
  opacity: 0;
  animation: animateUp 1s forwards;
  -webkit-animation: animateUp 1s forwards;
}

/* teaching */
#teaching-wrapper {
  margin: 1.2em 1.5em;
}
#teaching-wrapper .font-bold {
  font-weight: bold;
}
.teaching-topbar {
  display: flex;
}
.teaching-topbar > div {
  margin-right: 1em;
}
.teaching-topbar a {
  text-decoration: underline;
}
.teaching-desc {
  max-width: 760px;
}


@keyframes animateUp {
  from {
    opacity: 0;
    transform: translate3d(0,var(--aniamte-up-distance),0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
@-webkit-keyframes animateUp {
  from {
    opacity: 0;
    transform: translate3d(0,var(--aniamte-up-distance),0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.hide-for-now {
  display: none !important;
}

#content {
  background: #f5f5f5;
  padding-bottom: var(--margin-paragraph);
  padding-top: calc(2 * var(--margin-paragraph));
  z-index: 100;

  position: relative;
  margin-top: 82vh;
}

#hero {
  position: absolute;
  transform-origin: 0% 50%;
  transform: translateZ(-4px) scale(1.5);
  width: 100%;
}

.vimeo-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bullet {
  display: flex;
  align-items: center;
}
.bullet:before {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #444;
  content: "";
  margin-right: 12px;
}

.link-home {
  text-decoration: none;
}
.link-home:before {
  width: 20px;
  height: 1px;
  background: #444;
  content: "";
  vertical-align: middle;
  display: inline-block;
  margin-right: 6px;
}
.link-home:hover:before {
  background: var(--color-orange);
}

.two-up {
  display: flex;
  flex-flow: row nowrap;
  margin-top: calc(2 * var(--margin-paragraph));
  margin-bottom: calc(2 * var(--margin-paragraph));
}
.two-up > * {
  flex: 1;
}
.two-up > :first-child {
  margin-right: var(--margin-paragraph) !important;
}
.two-up > :last-child {
  margin-left: var(--margin-paragraph) !important;
}


.two-up,
.video {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.video.fixed-size {
  display: flex;
  align-items: center;
  justify-content: center;  
}


/* .two-up .gif {
  width: calc(50% - var(--margin-paragraph));
  width: 100%;
} */

.video.small {
  max-width: 640px;
}

main .video,
main p {
  margin-top: calc(var(--margin-paragraph) * 2 );
  margin-bottom: calc(var(--margin-paragraph) * 2 );
}

#more-projects,
main .text,
ul {
  max-width: 920px;
  margin: var(--margin-paragraph) auto;
}

#more-projects {
  margin: 0 auto;
}

ul {
  padding-left: 20px;
}
ul li {
  margin-bottom: calc( var(--margin-paragraph) / 2 );
}

input {
  border: none;
  border-bottom: var(--border-style);
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

#personal-info a {
  text-decoration: none;
}
#bio a {
  text-decoration: underline;
}

#home-wrapper {
  padding: calc(2 * var(--margin-paragraph));
  margin: 0 auto;
  max-width: var(--max-width);
}

#more-projects {
  background: #FFF;
  padding: calc(var(--margin-paragraph) * 2) 0;
}
#more-projects a {
  text-decoration: none;
}

.line-thru {
  text-decoration: line-through;
}

.project {
  color: #222;
  width: 100%;
}
.project a {
  -webkit-transition: .1s all;
}
.project:hover a {
  color: var(--color-orange);
}
.project:hover .desc {
  opacity: .6;
}
.project .desc {
  opacity: .25;
  -webkit-transition: .1s all;
}

#bio {
  text-indent: 60px;
  margin-bottom: 40px;
  margin-top: 40px;
}

#grid {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 0 !important;
  max-width: var(--max-width);
  margin: 0 auto;
}
#grid .col {
  flex: 1;
  border-right: 1px solid #FF6F59;
  border-left: 1px solid #FF6F59;
  opacity: .4;
  margin-left: calc(0.5 * var(--margin-paragraph));
  margin-right: calc(0.5 * var(--margin-paragraph));
}
#grid .margin {
  width: calc(1.5 * var(--margin-paragraph));
}

@media only screen and (max-width: 1000px) {
  :root {

  }
  #more-projects,
  main .text,
  ul {
    margin: calc(var(--margin-paragraph) * 2);
  }

  #grid #col5,
  #grid #col6,
  #grid #col7,
  #grid #col8 {
    display: none;
  }

  .two-up {
    display: block;
    margin: 0 var(--margin-paragraph);
  }
  .two-up > * {
    margin-bottom: var(--margin-paragraph);
  }
  .two-up > :first-child {
    margin-right: 0 !important;
  }
  .two-up > :last-child {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 640px) {
  :root {
    --font-size: 16px;
    --line-height: 24px;
    --margin-paragraph: 20px;
  }

  main .text,
  ul {
    margin: var(--margin-paragraph);
  }

  .h1,
  main h1.text {
    margin-bottom: calc(-0.75 * var(--margin-paragraph));
    margin-top: calc(0.75 * var(--margin-paragraph));
    font-size: 1.6em;
    line-height: 1.36em;
  }
  .h2 {
    font-size: 1.32em;
    line-height: 1.56em;
  }

  main p {
    margin: var(--margin-paragraph);
  }

  main .video,
  main p {
    margin-top: var(--margin-paragraph);
    margin-bottom: var(--margin-paragraph);
  }

  #home-wrapper {
    padding: var(--margin-paragraph);
  }
  #project-wrapper {
    -webkit-perspective: none !important;
    perspective: none !important;
  }

  #hero {
    width: auto;
    height: 40vh;
    transform: scale(1.2);
  }

  #content {
    margin-top: 35vh;
    padding-top: calc(0.5 * var(--margin-paragraph));
  }

  #more-projects {
    padding: var(--margin-paragraph) var(--margin-paragraph) calc(4 * var(--margin-paragraph)) var(--margin-paragraph);
  }

  #grid .margin {
    width: calc(.5 * var(--margin-paragraph));
  }

  #grid #col1,
  #grid #col2,
  #grid #col3,
  #grid #col4,
  #grid #col5,
  #grid #col6,
  #grid #col7,
  #grid #col8 {
    display: none;
  }

  .bullet:before {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
}
